// ================ Colors.
$medium-gray: #969696;
$very-dark-gray: #2b2b2b;



// ================ Typography.
$ff-main: 'Rubik', sans-serif;
$fs-default: 18px;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;