.details-wrapper {
    position: absolute;
    top: -90px;
    right: 50%;
    transform: translateX(50%);
    z-index: 99;
    background-color: #ffffff;
    width: 85%;
    max-width: 1300px;
    text-align: center;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    @media (min-width: 411px) {
        top: -95px;
    }
    @media (min-width: 768px) {
        width: 95%;
        top: -55px;
    }
    @media (min-width: 1200px) {
        width: 60%;
    }


    // ================== Container.
    .details-container {
        position: relative;

        .boxes-show {
            display: flex;
            flex-direction: column;
            padding: 2.5rem 0;
    
            @media (min-width: 768px) {
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                text-align: left;
                padding: 2.2rem 1.5rem;
            }
            @media (min-width: 1200px) {
                padding: 2.2rem 3rem;
            }
        }

        .boxes-hide {
            display: none;
        }


        // ================== Info box.
        .details-box {
            margin-bottom: 2.5rem;
            &:last-of-type {
                margin-bottom: 0;
            }

            @media (min-width: 768px) {
                margin-bottom: 0;
                padding-left: 1.5rem;
                border-left: 1px solid #afafaf;
                &:first-of-type {
                    padding-left: 0;
                    border-left: 0;
                }
            }
            @media (min-width: 850px) {
                padding-left: 4rem;
            }
            @media (min-width: 1400px) {
                padding-left: 5rem;
            }


            h2 {
                color: $medium-gray;
                font-size: 0.7rem;
                font-weight: $fw-bold;
                letter-spacing: 1.2px;
                text-transform: uppercase;
                margin-bottom: 0.5rem;

                @media (min-width: 850px) {
                    font-size: 0.75rem;
                    letter-spacing: 1.5px;
                    margin-bottom: 0.75rem;
                }
            }

            p {
                color: $very-dark-gray;
                font-size: 1.1rem;
                letter-spacing: 0.2px;

                @media (min-width: 850px) {
                    font-size: 1.2rem;
                    letter-spacing: 0.5px;
                }
            }
        }


        // ================== Arrow button.
        .show-btn {
            position: relative;
            background: none;
            color: #1d3557;
            border-radius: 50%;
            border: none;
            outline: none;
            font-size: 32px;

            @media (min-width: 768px) {
                display: none;
            }
        }

        .show-btn-up {
            padding: 0 0 0.7rem;
        }
        .show-btn-down {
            padding: 1rem 0 0.7rem;
        }
    }
}

.details-wrapper-loading {
    padding: 0 0 0.5rem;
}