.loader {
  font-size: 65px;

  &::after {
    content: '.....';
    display: inline-block;
    overflow: hidden;
    animation: dots steps(4, end) 2s infinite;
    width: 0px;
  }
}

@keyframes dots {
  to {
    width: 1em;
  }
}