.header-wrapper {
  height: 250px;
  background: url("../Assets/pattern-bg.png") center/cover no-repeat;
  text-align: center;
  padding-top: 3.2rem;
}

@media (min-width: 1200px) {
  .header-wrapper {
    height: 280px;
    padding-top: 4rem;
  }
}

.header-wrapper h1 {
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0.7px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media screen and (min-width: 411px) {
  .header-wrapper h1 {
    font-size: 1.35rem;
  }
}

@media screen and (min-width: 768px) {
  .header-wrapper h1 {
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
}

@media screen and (min-width: 1200px) {
  .header-wrapper h1 {
    font-size: 1.65rem;
  }
}

.header-wrapper .form-container {
  width: 85%;
  max-width: 600px;
  margin: 1rem auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (min-width: 1200px) {
  .header-wrapper .form-container {
    margin: 1.3rem auto 0;
  }
}

.header-wrapper .form-container input {
  background-color: #ffffff;
  color: #2b2b2b;
  width: 85%;
  height: 45px;
  padding: 0 0.6rem 0 1rem;
  font-size: 0.85rem;
  letter-spacing: 0.6px;
  border: none;
  outline: none;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  cursor: pointer;
}

@media screen and (min-width: 320px) {
  .header-wrapper .form-container input {
    height: 50px;
  }
}

@media screen and (min-width: 411px) {
  .header-wrapper .form-container input {
    font-size: 0.9rem;
    padding: 0 0.8rem 0 1rem;
  }
}

@media screen and (min-width: 540px) {
  .header-wrapper .form-container input {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 768px) {
  .header-wrapper .form-container input {
    height: 55px;
  }
}

@media screen and (min-width: 1024px) {
  .header-wrapper .form-container input {
    width: 90.5%;
    padding: 0 2rem;
  }
}

.header-wrapper .form-container button {
  background-color: #000000;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  height: 45px;
  font-size: 1rem;
  border: none;
  outline: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: pointer;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.header-wrapper .form-container button:hover {
  background-color: #454545;
}

@media screen and (min-width: 320px) {
  .header-wrapper .form-container button {
    width: 15%;
    height: 50.5px;
  }
}

@media screen and (min-width: 540px) {
  .header-wrapper .form-container button {
    height: 50px;
  }
}

@media screen and (min-width: 768px) {
  .header-wrapper .form-container button {
    height: 55.5px;
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1024px) {
  .header-wrapper .form-container button {
    width: 9.5%;
    font-size: 1.3rem;
  }
}

.details-wrapper {
  position: absolute;
  top: -90px;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  z-index: 99;
  background-color: #ffffff;
  width: 85%;
  max-width: 1300px;
  text-align: center;
  border-radius: 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media (min-width: 411px) {
  .details-wrapper {
    top: -95px;
  }
}

@media (min-width: 768px) {
  .details-wrapper {
    width: 95%;
    top: -55px;
  }
}

@media (min-width: 1200px) {
  .details-wrapper {
    width: 60%;
  }
}

.details-wrapper .details-container {
  position: relative;
}

.details-wrapper .details-container .boxes-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2.5rem 0;
}

@media (min-width: 768px) {
  .details-wrapper .details-container .boxes-show {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    padding: 2.2rem 1.5rem;
  }
}

@media (min-width: 1200px) {
  .details-wrapper .details-container .boxes-show {
    padding: 2.2rem 3rem;
  }
}

.details-wrapper .details-container .boxes-hide {
  display: none;
}

.details-wrapper .details-container .details-box {
  margin-bottom: 2.5rem;
}

.details-wrapper .details-container .details-box:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .details-wrapper .details-container .details-box {
    margin-bottom: 0;
    padding-left: 1.5rem;
    border-left: 1px solid #afafaf;
  }
  .details-wrapper .details-container .details-box:first-of-type {
    padding-left: 0;
    border-left: 0;
  }
}

@media (min-width: 850px) {
  .details-wrapper .details-container .details-box {
    padding-left: 4rem;
  }
}

@media (min-width: 1400px) {
  .details-wrapper .details-container .details-box {
    padding-left: 5rem;
  }
}

.details-wrapper .details-container .details-box h2 {
  color: #969696;
  font-size: 0.7rem;
  font-weight: 700;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

@media (min-width: 850px) {
  .details-wrapper .details-container .details-box h2 {
    font-size: 0.75rem;
    letter-spacing: 1.5px;
    margin-bottom: 0.75rem;
  }
}

.details-wrapper .details-container .details-box p {
  color: #2b2b2b;
  font-size: 1.1rem;
  letter-spacing: 0.2px;
}

@media (min-width: 850px) {
  .details-wrapper .details-container .details-box p {
    font-size: 1.2rem;
    letter-spacing: 0.5px;
  }
}

.details-wrapper .details-container .show-btn {
  position: relative;
  background: none;
  color: #1d3557;
  border-radius: 50%;
  border: none;
  outline: none;
  font-size: 32px;
}

@media (min-width: 768px) {
  .details-wrapper .details-container .show-btn {
    display: none;
  }
}

.details-wrapper .details-container .show-btn-up {
  padding: 0 0 0.7rem;
}

.details-wrapper .details-container .show-btn-down {
  padding: 1rem 0 0.7rem;
}

.details-wrapper-loading {
  padding: 0 0 0.5rem;
}

.loader {
  font-size: 65px;
}

.loader::after {
  content: '.....';
  display: inline-block;
  overflow: hidden;
  -webkit-animation: dots steps(4, end) 2s infinite;
          animation: dots steps(4, end) 2s infinite;
  width: 0px;
}

@-webkit-keyframes dots {
  to {
    width: 1em;
  }
}

@keyframes dots {
  to {
    width: 1em;
  }
}

.error-container {
  color: #e63946;
  padding: 2.5rem 1rem;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .error-container {
    padding: 2rem 1.5rem;
  }
}

@media (min-width: 1200px) {
  .error-container {
    padding: 2rem 3rem;
  }
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #2b2b2b;
}

main {
  position: relative;
}

.leaflet-container {
  height: calc(100vh - 250px);
  z-index: 1;
}

@media (orientation: landscape) {
  .leaflet-container {
    height: 450px;
  }
}

@media (min-width: 768px) {
  .leaflet-container {
    height: calc(100vh - 250px);
  }
}

@media (min-width: 1200px) {
  .leaflet-container {
    height: calc(100vh - 280px);
  }
}
/*# sourceMappingURL=style.css.map */