@import "config";
@import "header";
@import "details";
@import "loading";
@import "error";


body {
    font-family: $ff-main;
    font-size: $fs-default;
    font-weight: $fw-regular;
    color: $very-dark-gray;
}

main {
  position: relative;
}


// ================== Leaflet container.
.leaflet-container {
    height: calc(100vh - 250px);
    z-index: 1;

    @media (orientation:landscape) {
      height: 450px;
    }

    @media (min-width: 768px) {
      height: calc(100vh - 250px);
    }
    @media (min-width: 1200px) {
      height: calc(100vh - 280px);
    }
}